{% extends 'base.html' %}

{% load static %}

{% block page_title %}
  Página Inicial
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-12 col-sm-12">
      <div class="card">
          <div class="card-datatable pt-0">
              <div class="card-header flex-column flex-md-row">
                  <div class="head-label text-center">
                      <h5 class="card-title mb-0">Tópicos Cadastrados</h5>
                  </div>
                  <!-- Botão de novo item -->
                  <div class="text-end">
                      <a href="{% url 'create_meumodelo' %}" class="btn btn-success">
                          Novo
                      </a>
                  </div>
              </div>
              <!-- Tabela -->
              <table id="meuModeloTable" class="table dataTable no-footer dtr-column" style="width:100%">
                  <thead>
                      <tr>
                          <th>Título</th>
                          <th>Categorias</th>
                          <th>Validade</th>
                          <th>Usuário Criador</th>
                          <th>Data de Criação</th>
                          <th>Data de Atualização</th>
                          <th>Ação</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in items %}
                      <tr>
                          <td>{{ item.titulo }}</td>
                          <td>{{ item.categorias }}</td>
                          <td>{{ item.validade|date:'d/m/Y H:i' }}</td>
                          <td>{{ item.usuario_criador }}</td>
                          <td>{{ item.data_created|date:'d/m/Y H:i' }}</td>
                          <td>{{ item.data_updated|date:'d/m/Y H:i' }}</td>
                          <td>
                              <!-- Botões de ação com flexbox -->
                              <div class="d-flex">
                                  <a href="{% url 'ver_artigo' item.id %}" class="btn btn-primary btn-sl me-1">Ver</a>
                                  <a href="{% url 'edit_meumodelo' item.id %}" class="btn btn-warning btn-sl me-1">Editar</a>
                                  <form action="{% url 'delete_meumodelo' item.id %}" method="POST" style="display:inline;">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger btn-sl">Excluir</button>
                                  </form>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>


  <!-- DataTables CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#meuModeloTable').DataTable({
        pageLength: 5, // Define o número de linhas por página
        searching: true, // Ativa a busca
        paging: true, // Ativa a paginação
        info: true, // Mostra o número de entradas
        language: {
          lengthMenu: 'Mostrar _MENU_ registros por página',
          zeroRecords: 'Nenhum registro encontrado',
          info: 'Mostrando _PAGE_ de _PAGES_ páginas',
          infoEmpty: 'Nenhum registro disponível',
          infoFiltered: '(filtrado de _MAX_ registros totais)',
          search: 'Pesquisar:',
          paginate: {
            first: 'Primeiro',
            last: 'Último',
            next: 'Próximo',
            previous: 'Anterior'
          },
          loadingRecords: 'Carregando...',
          processing: 'Processando...',
          emptyTable: 'Nenhum dado disponível na tabela'
        }
      })
    })
  </script>
{% endblock %}
