{% for artigo in artigos %}
  <div class="blog-card{% cycle '' ' alt' %}">
      <div class="meta">
        <ul class="details">
          <li class="author"><a href="#">{{ artigo.usuario_criador }}</a></li>
          <li class="date">{{ artigo.data_created|date:"d/m/Y H:i" }}</li>
          <li class="tags">
            <ul>
              {% for categoria in artigo.get_categorias %}
                <li><a href="#">{{ categoria }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>{{ artigo.titulo }}</h1>
        <h2>{{ artigo.subtitulo|default:"" }}</h2> <!-- Subtítulo se houver -->
        <p>{{ artigo.texto|safe|truncatewords:30 }}</p> <!-- Renderização correta do HTML -->
        <p class="read-more">
          <a href="{% url 'ver_artigo' artigo.pk %}">Ver mais</a>
        </p>
      </div>
  </div>
{% empty %}
  <p>Nenhum artigo encontrado.</p>
{% endfor %}
